*{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.body.inNightMode{
    background-color: #1f1b24;
}
.body.inLightMode{
    background-color: #eeddf1fa;
}
.header{
    font-size: larger;
    margin: 1rem;
}
.header.inNightMode{
    color: white;
}

